.MusicContainer {
  padding: 0px;
  background: rgb(245, 223, 24);
  height: 100vh;
  width: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
  .Playingarea {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 4%;
  }
  h1 {
    color: rgb(0, 0, 0);
    margin: 30px auto;
    text-align: center;
    font-size: 40px;
  }
  select {
    width: 300px;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px;
    height: 40px;
    border: 2px solid #fff;
    &:focus {
      outline: none;
    }
  }
  .inner {
    margin: 0px auto 30px;
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    audio,
    video {
      margin: 20px auto;
      &::-webkit-media-controls-timeline {
        display: none;
      }
      // &::-webkit-media-controls,
      // &::-webkit-media-controls {
      //   display: block;
      // }
      &::-webkit-media-controls-current-time-display,
      &::-webkit-media-controls-time-remaining-display {
        display: none;
      }
      max-width: 140px;
      width: 100px;
      height: 50px;
    }
    img {
      max-width: 300px;
      width: 100%;
      margin: auto;
    }
  }
}
